body {
       font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
       margin: 0;
       background-color: #fff;
   } 
.app_container{
    display: grid;
    background-color: yellowgreen;
    padding: 10px;
}
.app_container > .header{
    background-color: aqua;
    
}
.menu_topics{
    background-color: #f5c531;
}
header{
    background-color: #d5c9e2;
}
.drawer-hamburger {
    position: absolute;
    float: left;
}
ul{
    /* display: grid;
    grid-template-rows: auto; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-content: end;
 
}
li{
    /* grid-column-start: 1;
    background: rgb(230, 230, 230); */
    background: gray;
  width: 19em;
  height: 4em;
  margin: .1em;
}